<div id="comment">
	<div class="wrap">
		<em class="format-ico comment-ico">评论</em>
		<div class="format-content">
			<div class="comment-content">
                <div class="comment-respond">
                    <form method="POST">
                        <textarea name="comment-content" cols="30" rows="10" placeholder="写点什么把..."></textarea>
                        <div id="click-show">
                            <div>
                                <input class="comment-name" type="text" name="comment-name" placeholder="昵称"/>
                                <label>昵称<span class="red">*</span></label>
                            </div>
                            <div>
                                <input class="comment-email" type="text" name="comment-email" placeholder="邮箱"/>
                                <label>邮箱<span class="red">*</span></label>
                            </div>
                            <div>
                                <input class="comment-url" type="text" name="comment-url" placeholder="网址"/>
                                <label>网址</label>
                            </div>
                        </div>
                    </form>
                </div>
                 <ol class="comment-list">
                     <li class="comment-cell">1</li>
                     <li class="comment-cell">2</li>
                     <li class="comment-cell">3</li>
                     <li class="comment-cell">4</li>

                 </ol>
			</div>
		</div>
	</div>
</div>