<div id="link">
	<div class="wrap">
		<em class="format-ico link-ico">友链</em>
		<div class="format-content">
			<div class="link-content">
				<a href="http://baidu.com">BaIdU!</a>
				<a href="http://baidu.com">BaIdU!</a>
				<a href="http://baidu.com">BaIdU!</a>
				<a href="http://baidu.com">BaIdU!</a>
				<a href="http://baidu.com">BaIdU!</a>
				<a href="http://baidu.com">BaIdU!</a>
				<a href="http://baidu.com">BaIdU!</a>
				<a href="http://baidu.com">BaIdU!</a>
				<a href="http://baidu.com">BaIdU!</a>
				<a href="http://baidu.com">BaIdU!</a>
				<a href="http://baidu.com">BaIdU!</a>
				<a href="http://baidu.com">BaIdU!</a>
				<a href="http://baidu.com">BaIdU!</a>
				<a href="http://baidu.com">BaIdU!</a>
				<a href="http://baidu.com">BaIdU!</a>
				<a href="http://baidu.com">BaIdU!</a>
				<a href="http://baidu.com">BaIdU!</a>
				<a href="http://baidu.com">BaIdU!</a>
			</div>
		</div>
	</div>
</div>