<li id="post">
	<div class="wrap">
		<em class="format-ico post-ico">文章</em>
		<div class="format-content">
			<ul class="post-content">
				<li class="post-cell">
					<a href="##" rel="点击阅读 这会传染的"><p>这会传染的</p></a>
					<h3><a href="##">情绪难以控制</a></h3>
					<div class="post-info">
						<sapn class="post-date">2014年01月31日</sapn>
						<span class="post-view">点击: 1次</span>
					</div>
				</li>
				<li class="post-cell">
					<a href="##" rel="点击阅读 这会传染的"><p>这会传染的</p></a>
					<h3><a href="##">刚回家就要订回去...</a></h3>
					<div class="post-info">
						<sapn class="post-date">2014年01月31日</sapn>
						<span class="post-view">点击: 1次</span>
					</div>
				</li>
				<li class="post-cell">
					<a href="##" rel="点击阅读 这会传染的"><p>这会传染的</p></a>
					<h3><a href="##">情绪难以控制</a></h3>
					<div class="post-info">
						<sapn class="post-date">2014年01月31日</sapn>
						<span class="post-view">点击: 1次</span>
					</div>
				</li>
				<li class="post-cell">
					<a href="##" rel="点击阅读 这会传染的"><p>这会传染的</p></a>
					<h3><a href="##">情绪难以控制</a></h3>
					<div class="post-info">
						<sapn class="post-date">2014年01月31日</sapn>
						<span class="post-view">点击: 1次</span>
					</div>
				</li>
			</ul>
		</div>
		
	</div>
</li>